html{
    background-color: #D1D5DB;
}
ul li{
    box-shadow: rgba(0, 0, 0, 0.349) 0px 2px 3px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:25px;
    margin-bottom:25px;
    
}