html{
    background-color: #D1D5DB;
}
ul li{
    box-shadow: rgba(0, 0, 0, 0.349) 0px 2px 3px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:25px;
    margin-bottom:25px;
    padding-left: 5px;
}
/* ul li:nth-child(odd){
    background-color: #0049e5c6;
}
ul li:nth-child(even){
    background-color: #50545d45;
} */